.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.heading {
  margin-bottom: 15px;
}
.homebutton {
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}
